@page
@model Licent_Ihut_Alexandra.Pages.SaliEvenimente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ai aici locațiile pentru un eveniment de neuitat</h1>

<p>
    <a asp-page="Create">Adaugă o sala nouă</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Judet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Localitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Imagine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Capacitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Email)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SalaEveniment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localitate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Imagine)
            </td>*@
            <div style="width:33%; display:inline-block; padding:4px">
        <span stlye="padding-bottom:4px;">
          <img src="data:image/jpg;base64 , @item.Imagine" width="120px" height="120px" onclick="openPopup(item)"/>
        </span>
       @* <h1>@Html.DisplayFor(modelItem => item.DenumireLocatie)</h1>*@
      @*  <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>*@
            </div>
       <div  id="popup" style=" display:none; position:fixed; top:50%; left:50%;transform:translate(-50%,-50%);width:300px;height:200px; background-color:white;border:1px solid black; padding:20px">
      <button onclick="closePopup()">Close</button>
            <td>
                @Html.DisplayFor(modelItem => item.Capacitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
        <script>
            function openPopup() {
                console.log("popup opened");
                document.getElementById("popup").style.display = "block";
                document.getElementById("item").innerHTML = myObject.item;
            }
            function closePopup() {
                console.log("popup closed");
                document.getElementById("popup").style.display = "none";
            }
            
        </script>
    </tbody>
</table>
