@page
@model Licent_Ihut_Alexandra.Pages.SaliEvenimente.IndexModel

@{
    ViewData["Title"] = "Index";
}
<html>
    <head>
    <style>
        
    </style>

    </head>
    <body>
    <div class="text-center" style=" display: grid">
        @*div-ul mare de tabel*@


        <div style="display: grid; grid-template-columns: 1fr 1fr">
        @* div pt prima linie*@
        <div>
            @* coloana1*@
                <h1 style="color: #66A1A8 ;font-style:italic; text-align: center ">Ai aici locațiile pentru un eveniment MEMORABIL</h1>

<p>
   

                    @if (User.IsInRole("Prestator") || User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary" asp-page="Create" style="color: #66A1A8; background-color: black; text-decoration: none; border-color: black">Adaugă o sala nouă</a>
                    }

                      
                 
</p>
 @if (User.IsInRole("User"))
    {
                <button type="button" class="btn btn-outline-dark" style="color: #66A1A8; background-color: black; text-decoration: none; border-color: black">
                    <a asp-page="Index" asp-route-CeleAlese="@true " style="color: #66A1A8; background-color: black; text-decoration: none; border-color: black">Optiunile mele</a>

                </button>
    }

   
            </div> @*div inchis pt prima coloana*@
            
            <div>
                @*coloana 2*@
                <img src="~/img/saliEv.jpg" style="width:100%; height:200px ;position: relative  display: block">

            </div>

        </div> @*inchid div pt prima linie*@
    <div> @*div pt a doua linie*@
        </br>
      
           <p style="color: #66A1A8 ;font-style:italic"> Caută aici în funcție de nume sau județ  </p>
           @* <form >
                <input type="text" asp-form="SearchString" />
               
                <div>*@
                   @* <a style="color: #66A1A8;  text-decoration: none"><button type="submit" class="btn btn-primary" style="background-color: black ; border-color: black ; color: #66A1A8">Caută</button>@*</a>*@
                 @*   <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
                </div>


            </form>*@
            <form>
                <div >
                    <div style="display: inline-flex">
                        <input type="text" class="form-control"  asp-for="SearchString">
                    </div>
                    <div >
                        <button class="btn btn-primary" type="submit" style="background-color: black ; border-color: black ; color:#66A1A8  ">Search</button>
                        <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
                    </div>
                </div>

            </form>
            
            <div class="row" style="margin: 50px">
                @* class="card"*@
                <div style="display: flex ; flex-wrap: wrap" class="row-cols-sm-3">
@foreach (var item in Model.SalaEveniment)
            {
                        <div class="card"  >
               @* <div>
                  <a style="background-color:aqua">@Html.DisplayNameFor(model => model.SalaEveniment[0].Nume)
                @Html.DisplayFor(modelItem => item.Nume)</a>
            </div>*@

           @* <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Judet)
                @Html.DisplayFor(modelItem => item.Judet)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Localitate)
                @Html.DisplayFor(modelItem => item.Localitate)
            </div>*@


                            <div style="width:100%;  display:inline-block; padding:4px ; border: 10px " class="card">
                   @* <span stlye="padding-bottom:4px;">*@
                                    <img src="data:image/jpg;base64 , @item.Imagine" style=" width:400px ; height:200px" />
                   @* </span>*@
               @* @Html.DisplayFor(modelItem => item.Nume)*@
                        @Html.DisplayNameFor(model => model.SalaEveniment[0].Nume)
                        @Html.DisplayFor(modelItem => item.Nume)
                        <p> </p>
                        @Html.DisplayNameFor(model => model.SalaEveniment[0].Judet)
                        @Html.DisplayFor(modelItem => item.Judet.Nume)
                                <p> </p>
                              @*  @Html.DisplayNameFor(model => model.SaliDeEvenimente[0].Membru)
                                @Html.DisplayFor(modelItem => item.Membru.Nume)
                                <p> </p>*@
                                <div>
                                    @if (User.IsInRole("Prestator") )
                                    {
                                        <button class="btn btn-primary" style="background-color: black ; border-color: black ">
                                            <a asp-page="./Edit" asp-route-id="@item.ID" style="color: #66A1A8;  text-decoration: none">Editează</a> 
                                            </button>
                                    }

                                    <button class="btn btn-primary" style="background-color: black ; border-color: black ">
                                        <a asp-page="./Details" asp-route-id="@item.ID" style="color: #66A1A8; text-decoration: none">Detalii</a>
                                        </button>
                                    @if (User.IsInRole("Prestator") || User.IsInRole("Admin"))
                                    {
                                        <button class="btn btn-primary" style="background-color: black ; border-color: black ">
                                            <a asp-page="./Delete" asp-route-id="@item.ID" style="color: #66A1A8 ; text-decoration: none">Șterge</a>
                                        </button>
                                    }

                                    @*  pt favorit*@
                                    @if (User.IsInRole("User"))
                                    {
                                        <form method="post" style="color: #66A1A8; background-color: black ; border-color: black" class="btn btn-primary">
                                            <input type="hidden" name="SalaID" value="@item.ID" />
                                            <input type="hidden" name="EsteAdaugatLaAlese" value="@item.AdaugatLaAlese.ToString()" />
                                            @if (item.AdaugatLaAlese == true)
                                            {
                                                @* <input type="submit" value="Remove from fav" class="btn btn-primary" style="background-color:black; border-color: black; width:170px; margin:10px auto 0; border-radius:50px">*@


                                                @* <div class="form-group">*@
                                                <input style="color: #66A1A8; background-color: black; text-decoration:none" type="submit" value="Șterge Opțiunea" />
                                                @* </div>*@
                                            }
                                            else
                                            {
                                                <input style="color: #66A1A8; background-color: black ; text-decoration:none" type="submit" value="Adaugă Opțiunea" />
                                                @*<input type="submit" value="Add to fav" class="btn btn-primary" style="background-color:black; border-color: black; width:120px; margin:10px auto 0; border-radius:50px">
*@
                                            }

                                        </form>
                                    }
                                </div>
                              
            </div>

            
           @* <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Capacitate)
                @Html.DisplayFor(modelItem => item.Capacitate)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Telefon)
                @Html.DisplayFor(modelItem => item.Telefon)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Email)
                @Html.DisplayFor(modelItem => item.Email)
            </div>*@
              
          
            </div>
        }
    </div>
</div>
        </div>@* div inchis pt a 2 a linie*@
    </div> @*div inchis pt tabel mare*@
</body>
</html>
