@page
@model Licent_Ihut_Alexandra.Pages.SaliEvenimente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ai aici locațiile pentru un eveniment de neuitat</h1>

<p>
    <a asp-page="Create">Adaugă o sala nouă</a>
</p>
<div class="table" >
    <div style="display: flex">
@foreach (var item in Model.SalaEveniment)
{
        <div >
                <div>
                    <a style="background-color:aqua">  @Html.DisplayNameFor(model => model.SalaEveniment[0].Nume)</a>
                @Html.DisplayFor(modelItem => item.Nume)
            </div>
                <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Judet)
                @Html.DisplayFor(modelItem => item.Judet)

            </div>
            <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Localitate)
                @Html.DisplayFor(modelItem => item.Localitate)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Imagine)
                @Html.DisplayFor(modelItem => item.Imagine)

            </div>
            <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Capacitate)
                @Html.DisplayFor(modelItem => item.Capacitate)

            </div>
            <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Telefon)
                @Html.DisplayFor(modelItem => item.Telefon)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.SalaEveniment[0].Email)
                @Html.DisplayFor(modelItem => item.Email)
            </div>

            <div>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        </div>
        }
</div>
</div>