@page
@model Licent_Ihut_Alexandra.Pages.MaterialePirotehnice.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color: moccasin ;font-style:italic ">Ștergere</h1>

<h3 style=" color: black">Ești sigur că dorești să ștergi această înregistrare?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Judet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Judet.Nume)
        </dd>
     
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Descriere)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MaterialPirotehnic.ID" />
        <input style="color: peru; background-color: black ; border-color: black; text-decoration: none" type="submit" value="Ștergere" class="btn btn-danger" />
        <a asp-page="Index" style="color: peru;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>

    </form>
</div>
