@page
@model Licent_Ihut_Alexandra.Pages.MaterialePirotehnice.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: #66A1A8 ;font-style:italic ">Detalii: </h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Nume)
        </dd>
        @*
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Judet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Judet.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Email)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPirotehnic.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialPirotehnic.Descriere)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MaterialPirotehnic?.ID" style="color: #66A1A8;  text-decoration: none "><button class="btn btn-primary" style="background-color: black ; border-color: black ">Editează</a>
    <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
   
</div>
