@page
@model Licent_Ihut_Alexandra.Pages.Artisti.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Judet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Judet.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Localitate.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Imagine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Imagine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.CategorieMomentArtistic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.CategorieMomentArtistic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Descriere)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Artist.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
