@page
@model Licent_Ihut_Alexandra.Pages.Artisti.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color: #66A1A8 ;font-style:italic ">Ștergere</h1>

<h3 style=" color: black">Ești sigur că dorești să ștergi această înregistrare?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Judet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Judet.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Localitate.NumeLocalitate)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Imagine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Imagine)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.CategorieMomentArtistic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.CategorieMomentArtistic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Descriere)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Artist.ID" />
        <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none" type="submit" value="Ștergere" class="btn btn-danger" />
        <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>

    </form>
</div>
