@page
@model Licent_Ihut_Alexandra.Pages.Artisti.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: #66A1A8 ;font-style:italic ; text-align:center">Detalii: </h1>

<div>
    
    <hr />
    <dl class="row" style="margin:30px" > 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Judet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Judet.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Localitate.NumeLocalitate)
        </dd>
       @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Imagine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Imagine)
        </dd>*@
       @* <dt style="width:33%;  display:inline-block; padding:4px" class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Imagine)
        </dt>
        <dd stlye="padding-bottom:4px;" class="col-sm-10">     
                    <img src="data:image/jpg;base64 " width="50px" height="50px" />
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.CategorieMomentArtistic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.CategorieMomentArtistic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Descriere)
        </dd>
    </dl>
</div>
<div style="margin:30px">
    <a asp-page="./Edit" asp-route-id="@Model.Artist?.ID" style="color: #66A1A8;  text-decoration: none "><button class="btn btn-primary" style="background-color: black ; border-color: black ">Editează</a>
    <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
   
</div>
