@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>

    body {
        background-color: white;
    }

    .background {
        width: 600px;
        height: 500px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }



    form {
        height: 600px;
        width: 500px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
        font-family: 'Poppins',sans-serif;
    }


    label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }


    button {
        margin-top: 50px;
        width: 100%;
        background-color: black;
        color: #66A1A8;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }


</style>
<body> 
<div class="row">
    <div class="col-md-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="height: auto">
            <h2>Crează un nou cont</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                Nume
                <input asp-for="Input.Nume" class="form-control" autocomplete="nume" aria-required="true" />
                <label asp-for="Input.Nume" ></label>
                <span asp-validation-for="Input.Nume" class="text-danger"></span>
            </div>
            <div class="form-floating">
                Prenume
                <input asp-for="Input.Prenume" class="form-control" autocomplete="prenume" aria-required="true" />
                <label asp-for="Input.Prenume" ></label>
                <span asp-validation-for="Input.Prenume" class="text-danger"></span>
            </div>
            <div class="form-floating">
                Adresă
                <input asp-for="Input.Adresa" class="form-control" autocomplete="adresa" aria-required="true" />
                <label asp-for="Input.Adresa" ></label>
                <span asp-validation-for="Input.Adresa" class="text-danger"></span>
            </div>
            <div class="form-floating">
                Telefon
                <input asp-for="Input.Telefon" class="form-control" autocomplete="telefon" aria-required="true" />
                <label asp-for="Input.Telefon"></label>
                <span asp-validation-for="Input.Telefon" class="text-danger"></span>
            </div>
            <div class="form-floating">
                    @*<div class="form-group">*@
                    Client sau Prestator servicii
                    <select asp-for="Input.UserSauPrestatorID" class="form-control" asp-items="ViewBag.UserSauPrestatorID"> </select>
                <label asp-for="Input.UserSauPrestatorID" class="control-label"></label>
                <span asp-validation-for="Input.UserSauPrestatorID" class="text-danger"></span>
            </div>
            <div class="form-floating">
                Email
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                Parolă
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                Confirmă parola
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
                <button style="background-color: black; color:#66A1A8" id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Înregistrare</button>
        </form>
    </div>
   @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>