@page
@model Licent_Ihut_Alexandra.Pages.Prajituri.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color: moccasin ;font-style:italic ">Ștergere</h1>

<h3 style=" color: black">Ești sigur că dorești să ștergi această înregistrare?</h3>
<div>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Judet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Judet.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Localitate.NumeLocalitate)
        </dd>
       @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Imagine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Imagine)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Creme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Creme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Feluri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Feluri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Figurine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Figurine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Descriere)
        </dd>
    </dl>

        <form method="post">
            <input type="hidden" asp-for="Prajitura.ID" />
            <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none" type="submit" value="Ștergere" class="btn btn-danger" />
            <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>

        </form>
</div>
