@page
@model Licent_Ihut_Alexandra.Pages.Prajituri.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: moccasin ;font-style:italic ">Detalii: </h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Judet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Judet.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Localitate.NumeLocalitate)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Imagine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Imagine)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Creme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Creme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Feluri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Feluri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Figurina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Figurina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prajitura.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prajitura.Descriere)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prajitura?.ID" style="color: peru;  text-decoration: none "><button class="btn btn-primary" style="background-color: black ; border-color: black ">Editează</a>
    <a asp-page="Index" style="color: peru;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
</div>
