@page
@model Licent_Ihut_Alexandra.Pages.Sonorizari.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color: #66A1A8 ;font-style:italic ; text-align:center">Ștergere</h1>

<h3 style=" color: black ; text-align:center">Ești sigur că dorești să ștergi această înregistrare?</h3>
<div style="margin: 50px">
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sonorizare.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sonorizare.Nume)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sonorizare.GenMuzical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sonorizare.GenMuzical)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sonorizare.Numar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sonorizare.Numar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sonorizare.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sonorizare.Descriere)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sonorizare.ID" />
        <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none" type="submit" value="Ștergere" class="btn btn-danger" />
        <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
       @* <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>*@
    </form>
</div>
