@page
@model Licent_Ihut_Alexandra.Pages.Sonorizari.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: #66A1A8 ;font-style:italic ">Detalii: </h1>

<div>
  @*  <h4>Sonorizare</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sonorizare.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sonorizare.Nume)
        </dd>
      @*  <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sonorizare.GenMuzical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sonorizare.GenMuzical)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sonorizare.Numar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sonorizare.Numar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sonorizare.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sonorizare.Descriere)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sonorizare?.ID" style="color: #66A1A8;  text-decoration: none "><button class="btn btn-primary" style="background-color: black ; border-color: black ">Editează</a>
    <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
   @* <a asp-page="./Edit" asp-route-id="@Model.Sonorizare?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>*@
</div>
