@page
@model Licent_Ihut_Alexandra.Pages.Sonorizari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #66A1A8 ;font-style:italic ">Voia bună începe cu muzică bună!</h1>
<br/>
<br/>
<br/>


<p>
    <a asp-page="Create" style="color: #66A1A8;  text-decoration: none"><button  class="btn btn-primary" style="background-color: black ; border-color: black ">Introdu oferta!</a>
</p>
<table class="table table-dark" >
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NumeSort" style="text-decoration: none; color: white">
                    @Html.DisplayNameFor(model => model.Sonorizare[0].Nume)  ⇧
                </a>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NumeSortDesc" style="text-decoration: none; color: white">
                    @Html.DisplayNameFor(model => model.Sonorizare[0].Nume) ⇩
                </a>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Sonorizare[0].GenMuzical)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Sonorizare[0].Numar)
            </th>
            <!-- <th>
                @Html.DisplayNameFor(model => model.Sonorizare[0].Descriere)
            </th>
             -->
            <th>
                @Html.DisplayNameFor(model => model.Sonorizare[0].SonorizareGenuriMuzicale) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SonorizareD.Sonorizari) {
            string selectedRow = "";
            if (item.ID == Model.SonorizareID) 
            { 
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <th>
                @Html.DisplayFor(modelItem => item.Nume)
            </th>
            @*<td>
                @Html.DisplayFor(modelItem => item.GenMuzical)
            </td>*@
            <th>
                @Html.DisplayFor(modelItem => item.Numar)
            </th>
           <!-- <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
                  -->
                  <th>
                      @{
                          foreach (var category in item.SonorizareGenuriMuzicale) 
                          {
                              @category.GenMuzical.GenMuzicalNume <br/> 
                          }
                         }
                          </th>
            <th>

                    <a asp-page="./Edit" asp-route-id="@item.ID" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Editează</a>
                    <a asp-page="./Details" asp-route-id="@item.ID" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Detalii</a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Ștergere</a>
            </th>
        </tr>
}
    </tbody>
</table>
