@page
@model Licent_Ihut_Alexandra.Pages.Hostess.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color: moccasin ;font-style:italic ">Ștergere</h1>

<h3 style=" color: black">Ești sigur că dorești să ștergi această înregistrare?</h3>
<div>
    <h4>Hostes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Judet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Judet.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Localitate.NumeLocalitate)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Imagine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Imagine)
        </dd>*@
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Culori)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Culori)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Descriere)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Hostes.ID" />
        <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none" type="submit" value="Ștergere" class="btn btn-danger" />
        <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>

    </form>
</div>
