@page
@model Licent_Ihut_Alexandra.Pages.Hostess.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: moccasin ;font-style:italic ">Detalii: </h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Judet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Judet.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Localitate.NumeLocalitate)
        </dd>
       @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Imagine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Imagine)
        </dd>*@
       <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.HostesCulori)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.HostesCulori)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostes.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostes.Descriere)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hostes?.ID" style="color: #66A1A8;  text-decoration: none "><button class="btn btn-primary" style="background-color: black ; border-color: black ">Editează</a>
    <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
</div>
