@page
@model Licent_Ihut_Alexandra.Pages.Hostess.IndexModel

@{
    ViewData["Title"] = "Index";
}
<html>
<head>
</head>
<body>

<h1 style="color: #66A1A8 ;font-style:italic ">Amabilitatea și buna dispoziție se potrivesc de minune!</h1>

<p>
      @if (User.IsInRole("Prestator") || User.IsInRole("Admin"))
                    {
    <a class="btn btn-primary" asp-page="Create" style="color: #66A1A8; background-color: black; text-decoration: none; border-color: black">Înscrie aici firma ta de hostess</a>
                    }
</p>
<p style="color: #66A1A8 ;font-style:italic"> Caută  în funcție de nume sau județ  </p>
<form method="post" class="searchForm">
    <input type="text" name="searchString" />
   
    <div>
        <a type="submit" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Caută</a>
        <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
    </div>


</form>

<div class="row" >
        <div style="display: flex ; flex-wrap: wrap;" class="row-cols-sm-3">
@foreach (var item in Model.Hostess)
            {
                <div >
                <div style="width:33%;  display:inline-block; padding:4px">
                    <span stlye="padding-bottom:4px;">
                        <img src="data:image/jpg;base64 , @item.Imagine" width="140px" height="140px" />
                    </span>
                    @* @Html.DisplayFor(modelItem => item.Nume)*@
                    @Html.DisplayNameFor(model => model.Hostess[0].Nume)
                    @Html.DisplayFor(modelItem => item.Nume)
                    <p> </p>
                    @Html.DisplayNameFor(model => model.Hostess[0].Judet)
                    @Html.DisplayFor(modelItem => item.Judet.Nume)
                </div>
                <div >
                    
                        <a asp-page="./Edit" asp-route-id="@item.ID" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Editează</a>
                    
                        <a asp-page="./Details" asp-route-id="@item.ID" style="color: #66A1A8; text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Detalii</a>
 
                        <a asp-page="./Delete" asp-route-id="@item.ID" style="color: #66A1A8 ; text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Șterge</a>
            </div>
            </div>
        }
    </div>
</div>
</body>
</html>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hostes[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostes[0].Judet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostes[0].Localitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostes[0].Imagine)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Hostes[0].Culori)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.Hostes[0].Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostes[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostes[0].Descriere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hostes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judet.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localitate.NumeLocalitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagine)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Culori)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
