@page
@model Licent_Ihut_Alexandra.Pages.Decoratiuni.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #66A1A8 ;font-style:italic ">Decor de vis la doar un click distanță</h1>

<p>
    <a class="btn btn-primary" asp-page="Create" style="color: #66A1A8; background-color: black; text-decoration: none; border-color: black">Adaugă o nouă înregistrare</a>
</p>
<p style="color: #66A1A8 ;font-style:italic"> Caută aici în funcție de denumire  </p>
<form method="post" class="searchForm">
    <input type="text" name="searchString" />
    @* <input style="color: #66A1A8; background-color: black ; border-color: black; text-decoration: none" type="submit" value="Căutare" class="btn btn-primary" />*@
    <div>
        <a type="submit" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Caută</a>
        <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
    </div>


</form>
<table class="table" style="border: 1px solid;">
    <thead style="color: #66A1A8 ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Decoratiune[0].Companie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decoratiune[0].Locație)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decoratiune[0].Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decoratiune[0].Email)
            </th>
            <th>
               
              @Html.DisplayNameFor(model => model.Decoratiune[0].Material.Tip)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Decoratiune[0].Descriere)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Decoratiune) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Companie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locație)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Material.Tip)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Editează</a>

                    <a asp-page="./Details" asp-route-id="@item.ID" style="color: #66A1A8; text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Detalii</a>

                    <a asp-page="./Delete" asp-route-id="@item.ID" style="color: #66A1A8 ; text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Șterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
