@page
@model Licent_Ihut_Alexandra.Pages.Decoratiuni.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="text-center" style=" display: grid">
    @*div-ul mare de tabel*@
    <div style="display: grid; grid-template-columns: 1fr 1fr">
        @* div pt prima linie*@
        <div>
            @* coloana1*@
            <p></p>
              <p></p>
            <p></p>
<h1 style="color: #66A1A8 ;font-style:italic ; text-align:center">Decor de vis la doar un click distanță</h1>

<p>
      @if (User.IsInRole("Prestator") || User.IsInRole("Admin"))
                    {
    <a class="btn btn-primary" asp-page="Create" style="color: #66A1A8; background-color: black; text-decoration: none; border-color: black">Adaugă o nouă înregistrare</a>
                    }
</p>
</div>
        <div>
            @*coloana 2*@

<form method="post" class="searchForm">
                <p style="color: #66A1A8 ;font-style:italic"> Caută aici în funcție de denumire  </p>
    <input type="text" name="searchString" />
    <div>
        <a type="submit" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Caută</a>
        <a asp-page="Index" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Înapoi la listă </a>
    </div>
</form>
        </div>
    </div> @*inchis pt prima linie *@
    <div style=" align-content:center">
        @* div pt a doua linie*@
        <img src="~/img/Decoratiuni.jpg" style="width:100%; height:200px ;position: relative  display: block" />

        </div>
    <div style=" align-content:center; margin: 20px">
        @* div pt a treia linie*@
<table class="table" style="border: 1px solid">
    <thead style="color: #66A1A8 ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Decoratiuni[0].Companie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decoratiuni[0].Locație)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Decoratiuni[0].Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decoratiuni[0].Email)
            </th>*@
            <th>
               
              @Html.DisplayNameFor(model => model.Decoratiuni[0].Material)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Decoratiune[0].Descriere)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Decoratiuni) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Companie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locație)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Material.Tip)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>*@
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" style="color: #66A1A8;  text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Editează</a>

                    <a asp-page="./Details" asp-route-id="@item.ID" style="color: #66A1A8; text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Detalii</a>

                    <a asp-page="./Delete" asp-route-id="@item.ID" style="color: #66A1A8 ; text-decoration: none"><button class="btn btn-primary" style="background-color: black ; border-color: black ">Șterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div> @*inchid div pt a treia  linie*@
</div>@* inchis pt tabel*@